@charset "UTF-8";

body { font-family:"Malgun Gothic","맑은 고딕", Arial, Helvetica, sans-serif; position: relative;
    height: 100%; background:rgba(0,0,0,0.5);}

ul:after { display:block; content:""; clear:both;}
.swiper {
    width: 100%; height: 100%; }
.swiper-slide {}
.swiper-wrapper { height:100vh; }

.visual { width: 100%; height: 100%;}

.swiper-slide img, .swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*햄버거버튼*/
.menu_btn { position: fixed; top: 40px; right: 50px; z-index: 2; cursor: pointer; }
.menu_btn span { background: #fff;  display: block; width: 40px; height: 3px;  margin: 5px 0; 
    transition: all 0.3s ease-in-out; }
.menu_btn span:nth-child(2) { width: 20px;  float: right;
    position: relative;}
.menu_btn span:nth-child(2):after {
        display: block; content: "MENU";        
        position: absolute; bottom: -10px; right: 0; color: #fff; font-size: 12px;
        opacity:0; transition: all 0.3s ease-in-out;
    }
.menu_btn:hover span{ width: 40px;}
.menu_btn:hover span:nth-child(2):after{opacity: 1;bottom: -20px;}

.menu_btn.open { z-index: 3; width: 50px; height: 50px; left: 50%; margin-left: -25px; }
.menu_btn.open span {
    position: absolute;  width: 100%; opacity: 1;
    transform: rotate(135deg);
    top: 20px; left: 0; }
.menu_btn.open span:last-child { transform: rotate(-135deg); }
.menu_btn.open span:last-child:after { opacity: 0; }

.menu_bg {  position: fixed; width: 100%;  height:100%; left:-100%; top: 0;
    background: rgba(0,0,0,0.9); z-index: 2; }
.menu_bg_inner { width: 100%;  height: 100%;  position: relative; }
.menu_bg .gnb { position: absolute; top: 50%; left: 50%; transform:translate(-50%, -50%); }
.menu_bg .gnb li { }
.menu_bg .gnb li a { display:block; padding: 20px 0; font-size: 30px; color: #fff; letter-spacing: normal;
    transition: all 0.3s ease-in-out; }

.menu_bg .gnb li.no_active a{color: #808488;}
.menu_bg .gnb li.active a{color: #fff}


/*배경 영상,이미지 부분*/
.visual { transform: scale(1.1) rotate(2deg); transition: all 1s ease 0.1s; opacity: 0;}
.swiper-slide.swiper-slide-active .visual { transform: scale(1) rotate(0deg); opacity:1; } 
.bg_opac { position:absolute; top:0; left:0;
    width: 100%; height: 100%; z-index: 2; opacity:1;
    background-image: radial-gradient(circle at top left, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 1) 100%);
    -webkit-transition: all 2s ease 0.1s;} 
.swiper-slide.swiper-slide-active .bg_opac { opacity:0.5; } 


/* 텍스트 부분 */
.main_intro {position: absolute; top:30vh; left: 20%; z-index: 9; color: #fff;}
.main_intro .txt01{ font-size:18px;display: inline-block; transform: translate3d(-29px, 10px, 10px);
transition: all 0.4s ease-in-out 0.2s; }
.main_intro .txt01 span{ font-weight:bold; }
.main_intro .txt02{ transform: translate3d(-29px, 32px, 10px);
transition: all 0.8s ease-in-out 0.1s;
}
.main_intro .txt02 strong { font-size:50px; display: block; line-height: 1.6; padding: 30px 0 30px;
    transition: all 2s ease-in-out .5s }

.main_intro p {font-size:18px;line-height: 1.7; padding-bottom: 20px;transform: translate3d(-29px, 32px, 10px);
 transition: all 1s ease-in-out 0.1s;}

.btn_wrap { transform: translate3d(-29px, 32px, 10px); transition: all 1.2s ease-in-out 0.1s;
}
.btn_wrap a { display: inline-block; color:inherit;     
    width:140px; padding:15px 0;
    position: relative;
    font-size:14px; font-weight: bold; line-height: 1;
    text-align: center; transition: color 300ms }

.btn_wrap a:before, .btn_wrap a:after  { display: block; content: '';
    position: absolute; bottom: 0; right: 0;
    height: 2px; width: 100%; 
    z-index: 2;  transition: all .3s ease-in-out }
.btn_wrap a:before { left: 0; width: 0%; background:#0e0e0e; }
.btn_wrap a:after { background:#fff; }

.btn_wrap a:hover:after { width: 0; transition-delay:0.2s; }
.btn_wrap a:hover:before { width: 100%; transition-delay:0.4s; }


/*active_AFTER*/
.swiper-slide.swiper-slide-active .main_intro .txt01{ transform: translate3d(10px, 10px, 10px);}
.swiper-slide.swiper-slide-active .main_intro .txt02{transform: translate3d(10px, 10px, 10px);}
.swiper-slide.swiper-slide-active .main_intro p{transform: translate3d(10px, 10px, 10px);}
.swiper-slide.swiper-slide-active .main_intro .btn_wrap{transform: translate3d(10px, 10px, 10px);}


.section03 .main_intro { color:#0e0e0e; }
.section03 .btn_wrap a:before { background:#fff; }
.section03 .btn_wrap a:after { background:#0e0e0e }

.section06 .main_intro { color:#164b1d; }
.section06 .btn_wrap a:before { background:#fff; }
.section06 .btn_wrap a:after { background:#0e0e0e }


/*next,prev*/
.page_control{ position: fixed; bottom: 20px; right: 30px; z-index: 9;}
.page_control span { display: inline-block; color: #fff; outline: none; cursor: pointer; vertical-align: middle;}
.page_control i { display: inline-block ;width: 100px;height:1px; background: #fff; vertical-align: middle; margin: 0 10px;}
